<div style="height: 50px;"></div>
<div style="height: 100px;  text-align: center;">
<span style="font-size:xx-large;" >Weather-Report</span>
</div>
    <lib-weather-report></lib-weather-report>
    
<div style="height: 20px;"></div>
<div  fxLayout="row" flexLayoutAlign="center center">
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center" class="top-div-right">
      <mat-card class="example-card">
          <mat-card-actions>
            <button mat-raised-button color="primary" label="Click" (click)="toggleHtml()"><span class="but">HTML</span></button>
            <button mat-raised-button color="accent" label="Click" (click)="toggleTs()"><span class="but">TS</span></button>
            <button mat-raised-button color="warn" label="Click" (click)="toggleCss()"><span class="but">CSS</span></button>
          </mat-card-actions>
          <mat-card-content class="content">
            <div *ngIf="showHtml">
              <code>
                <pre>{{HtmlCode}}</pre>
              </code>
            </div> 
            <div *ngIf="showTs">
              <code>
                <pre>{{TsCode}}</pre>
              </code>
            </div>
            <div *ngIf="showCss">
              <code>
                <pre>{{CssCode}}</pre>
              </code>
            </div>
          </mat-card-content>
      </mat-card>
    </div>
  </div>