<!--<lib-my-lib></lib-my-lib>
<lib-navbar></lib-navbar><br>
<lib-product-table></lib-product-table><br>
<lib-progress-bar></lib-progress-bar>
<lib-barchart></lib-barchart>
<lib-pie-chart [piedata]=pie></lib-pie-chart>
<lib-line-chart></lib-line-chart>
<lib-area-chart></lib-area-chart>
<lib-shopping-grid></lib-shopping-grid>
<lib-weather-report></lib-weather-report>
<lib-card-list ></lib-card-list>
<lib-menubar></lib-menubar>
<h1>Hi</h1>

<lib-card-list [listItems]=cardcomp></lib-card-list>
<lib-progress-bar [getval]=progressbarcomp></lib-progress-bar>
<lib-line-chart [linedata]=line ></lib-line-chart>

-->

<app-doc></app-doc>
<router-outlet></router-outlet>

<!--
<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
<br>


<lib-card-list [listItems]=cardcomp [s]=str></lib-card-list>
-->